@import "tailwindcss";
@import "tailwindcss/utilities";

/* Custom styles for cute scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff0f5;
  /* lavender blush */
}

::-webkit-scrollbar-thumb {
  background: #fda4af;
  /* rose-300 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fb7185;
  /* rose-400 */
}